#
spring:
  datasource:
    url: jdbc:postgresql://clinicaldb.postgres.database.azure.com:5432/postgres?sslmode=require
    username: mzz
    password: Z-J4ckrP
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        hbm2ddl:
          auto: update

